body{
    font-family: "Inter", serif;
    max-width: 1440px;
    margin: auto;
    background-color: #1A1A1A;
    color: white;
}
nav{
    margin: 0 50px;
}
.cmn-clr{
    color: #00FFFF;
    font-size: 20px;
}
.logo-img{
    width: 125px;
    height: 125px;
}

.banner{
    margin: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}
.banner-left{
    width: 60%
}

.banner-img{
    width: 400px;

}
.banner-title{
    color: #00FFFF;
    font-size: 70px;
    font-weight: bold;
}

.banner-btn{
    color: #00FFFF;
    font-size: 30px;
}

.portfolio-card{
    margin: 30px auto;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border: 1px dotted #808080;
    padding: 20px 10px;
}
.portfolio-right, .portfolio-left{
    width: 50%
}

.project-title{
    color: #00FFFF;
    font-size: 30px;
    font-weight: bold;
}

.skill-btn-container{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 20px;
}

.skill-card{
    margin: 20px;
}

.skill-section{
    margin: 40px 50px;
    display: flex;
    align-items: center;
}

.ed-title{
    color:#00FFFF;
    font-size: 48px;
}
.contact-form{
    margin-top: 80px;
}
form{
    box-shadow: 4px 4px 8px gray;
    padding: 20px;
    width: 600px;
    height: 360px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    
}
input{
    background-color: #1A1A1A;
    width: 40%;
}
.text-box{
    width: 50%;
    height: 96px;
}
.submit-btn{
    background-color: #6C757D;
    color: #00FFFF;
    padding: 10px;
    width: 60%;
}
footer{
    margin: 50px auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}



@media screen and (max-width: 768px){
    .banner{
        margin: 40px 10px;
        flex-direction: column;
      
    }
    .banner-left{
        width: 100%
    }
  
   
    .portfolio-card{
        flex-direction: column;
        width: 100%;
    }
    .portfolio-right, .portfolio-left{
        width: 100%
    }
    .skill-section{
        margin: 40px 0;
        flex-direction: column;
        justify-content: center;
    }
    .skill-btn-container{
        margin: 10px;
        flex-wrap: wrap;
    }
    .ed-title{
        margin-top: 40px;
    }
    form{
        width: 80%;
    }
    input{
        width: 80%;
    }
    .submit-btn{
        width: 80%;
    }
    .text-box{
        width: 90%;
    }
    
    
}

@media screen and (max-width: 425px){
    .logo-img{
        width: 75px;
        height: 75px;
    }
  
    .banner-title{
        font-size: 50px;
    }
  
    form{
        width: 90%;
    }
    input{
        width: 100%;
    }
    .text-box{
        width: 100%;
    }
}


