body{
    font-family: "Inter", serif;
    max-width: 1440px;
    margin: auto;
    background-color: #1A1A1A;
    color: white;
}
nav{
    margin: 0 50px;
}

.logo-img{
    width: 125px;
    height: 125px;
}

@media screen and (max-width: 425px){
    .logo-img{
        width: 75px;
        height: 75px;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.banner{
    margin: 40px 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px
}
.banner-left{
    width: 50%
}

@media screen and (max-width: 425px){
    .banner{
        flex-direction: column;
    }
    .banner-left{
        width: 100%
    }
}

.banner-img{
    width: 300px;

}
.banner-title{
    color: #00FFFF;
    font-size: 70px;
    font-weight: bold;
}

.banner-txt{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}

.banner-btn-container{
    display: flex;
    align-items: center;
    gap: 20px
}

.banner-btn{
    color: #00FFFF;
    font-size: 30px;
}

.portfolio-card{
    margin: 30px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border: 1px dotted #808080;
    padding: 20px 10px;
}
.portfolio-right, .portfolio-left{
    width: 50%
}

@media screen and (max-width: 768px){
    .portfolio-card{
        flex-direction: column;
        width: 100%;
    }
    .portfolio-right, .portfolio-left{
        width: 100%
    }
    
}


.project-title{
    color: #00FFFF;
    font-size: 30px;
    font-weight: bold;
}

.tech-btn-container{
    display: flex;
    justify-content: center;
    gap: 10px
}

.skill-btn-container{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 20px;
}

.skill-card{
    margin: 20px;
}

.skill-section{
    margin: 40px 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px){
    .skill-section{
        margin: 40px 0;
        flex-direction: column;
        justify-content: center;
    }
    .skill-btn-container{
        margin: 10px;
        flex-wrap: wrap;
    }
    
}

.ed-title{
    color:#00FFFF;
    font-size: 48px;
}